.main {
    padding-top: 30px;
}
.calculator {
    margin-bottom: 30px;
    padding: 30px 10px;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 3s;
}
.calculator2 {
    margin-bottom: 30px;
    padding: 30px 10px;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 3s;
}
.calculator--science {
    margin-bottom: 30px;
    padding: 30px 10px;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 3s;
    display: none;
}
.form-control--calculator {
    text-align: right;
    margin-bottom: 20px;
    height: 50px;
    font-size: 30px;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
.form-control--memory {
    text-align: right;
    height: 20px;
    font-size: 12px;
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none; 
}
.description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0 30px 30px 30px;
    &__list {
        padding-left: 50px;
    }
}
.numeric-keypad {
    grid-gap: 5px;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &__item {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid #111; 
        padding: 15px;
        color: #EEE; 
        border-radius: 5px;
        font-size: 22px; 
        cursor: pointer; 
        &--zero {
            grid-column: span 2;
        }
        &--science {
            display: none;
            background: linear-gradient(to right, #f12711, #f5af19);
        } 
        &:hover {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}
.equal {
    grid-row: span 2;
    background: linear-gradient(to right, #3ca55c, #b5ac49);
}
.change-color {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.change-item {
    background: linear-gradient(to right, #141e30, #243b55);
    margin-right: 1px;
    width: 50px;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    &__oliv {
        border-radius: none;
        background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &__mentol {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: linear-gradient(to right, #283c86, #45a247);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.reset {
    width: 127px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    max-width: 250px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    font-size: 22px;
}
.switch p {
    padding-left: 70px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
@media screen and (max-width: 700px){
    .numeric-keypad {
        padding: 0;
    }
}